GEMINI_API_KEY=(Masukan API Key Gemini Anda di sini)

DB_HOST= (Masukan nama hosting yang mau kamu gunakan)
DB_USER= (Masukan nama user yang kamu mau pakai / Apabila menggunakan free hosting sesuaikan dengan di hostingnya)
DB_PASS= (Masukan password dari hostingmu)
DB_NAME= (Nama Database SQL Mu)
